@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Coordonnées de l'École</strong><br />
    9155, rue Saint-Hubert,<br />
    Montréal (Québec) H2M 1Y8<br />
    <abbr title="Phone">P:</abbr>
    514.389.5921
</address>

<address>
    <strong>Pour toute information:</strong>   <a href="mailto:Support@example.com">information@ecolelacarte.qc.ca</a><br />
</address>

<address>
    <strong>Heures d'ouverture de l'École</strong><br />
    L'École est ouvert du lundi au vendredi, de 7 h à 23 h.<br />
    Le samedi et le dimanche, l'École est ouvert de 7 h à 18 h.<br />
</address>
