@{
    ViewBag.Title = "Page d'accueil";
}
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" id="Image" alt="" src="@Url.Content("~/Content/Images/students.jpg")" />
    </div>
</div>

<div class="jumbotron">
    <h1>École Lacarte</h1>
    <p class="lead">…une école reconnue pour la qualité de sa formation et constamment en marche vers la réussite éducative de ses étudiants<br />
…une école engagée dans l’évolution du savoir, valorisant la créativité et l’innovation<br />
…une école sans frontières, inspiré par sa collectivité et par son environnement, tant local qu’international<br />
…une communauté accueillante, un espace de vie enrichissant !</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>HISTORIQUE</h2>
        <p>
         Si l'École Lacarte est aujourd’hui une école de grande qualité, dont la réputation d’excellence dépasse largement l’Île de Montréal, c’est grâce à la rigueur et à l’engagement des gens qui y ont œuvré et qui y ont étudié depuis sa fondation.
         L'École Lacarte a été fondée en 2015 par monsieur Toto Lacarte Tiger Junior. 
        </p>
    </div>
</div>