@{
    ViewBag.Title = "AdminFAQ";
}

<h2>Foire aux questions (FAQ)</h2>

<div class="panel-group" id="accordion">
    <div class="faqHeader">Gestion des professeurs</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor1">Première question?</a>
            </h4>
        </div>
        <div id="collapseProfessor1" class="panel-collapse collapse in">
            <div class="panel-body">
                Première réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor2">Deuxième question?</a>
            </h4>
        </div>
        <div id="collapseProfessor2" class="panel-collapse collapse">
            <div class="panel-body">
                Deuxième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor3">Troisième question?</a>
            </h4>
        </div>
        <div id="collapseProfessor3" class="panel-collapse collapse">
            <div class="panel-body">
                Troisième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor4">Quatrième question?</a>
            </h4>
        </div>
        <div id="collapseProfessor4" class="panel-collapse collapse">
            <div class="panel-body">
                Quatrième réponse line 1.
            </div>
        </div>
    </div>
    <div class="faqHeader">Gestion des étudiants</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent1">Première question?</a>
            </h4>
        </div>
        <div id="collapseStudent1" class="panel-collapse collapse">
            <div class="panel-body">
                Première réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent2">Deuxième question?</a>
            </h4>
        </div>
        <div id="collapseStudent2" class="panel-collapse collapse">
            <div class="panel-body">
                Deuxième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent3">Troisième question?</a>
            </h4>
        </div>
        <div id="collapseStudent3" class="panel-collapse collapse">
            <div class="panel-body">
                Troisième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent4">Quatrième question?</a>
            </h4>
        </div>
        <div id="collapseStudent4" class="panel-collapse collapse">
            <div class="panel-body">
                Quatrième réponse line 1.
            </div>
        </div>
    </div>
    <div class="faqHeader">Gestion des cours</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse1">Première question?</a>
            </h4>
        </div>
        <div id="collapseCourse1" class="panel-collapse collapse">
            <div class="panel-body">
                Première réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse2">Deuxième question?</a>
            </h4>
        </div>
        <div id="collapseCourse2" class="panel-collapse collapse">
            <div class="panel-body">
                Deuxième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse3">Troisième question?</a>
            </h4>
        </div>
        <div id="collapseCourse3" class="panel-collapse collapse">
            <div class="panel-body">
                Troisième réponse line 1.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse4">Quatrième question?</a>
            </h4>
        </div>
        <div id="collapseCourse4" class="panel-collapse collapse">
            <div class="panel-body">
                Quatrième réponse line 1.
            </div>
        </div>
    </div>
</div>
<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>