@{
    ViewBag.Title = "AdminFAQ";
}

<h2>Foire aux questions (FAQ)</h2>

<p>
    En tant qu’administrateur, vous pouvez ajouter, éditer, visionner et supprimer un professeur, un étudiant et un cours.
    Vous pouvez également lister tous les professeurs, les étudiants et les cours. Il suffit d’aller dans le tableau de bord
    et choisir l’un des menus disponibles pour avoir accès aux outils reliés à l’option choisie.
</p>

<div class="panel-group" id="accordion">
    <div class="faqHeader">Gestion des professeurs</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor1">Comment lister tous les professeurs ?</a>
            </h4>
        </div>
        <div id="collapseProfessor1" class="panel-collapse collapse in">
            <div class="panel-body">
                Il suffit de cliquer sur le menu «Professeur» pour avoir accès à la liste de tous les professeurs.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor2">Comment ajouter un professeur ?</a>
            </h4>
        </div>
        <div id="collapseProfessor2" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section professeur et cliquez sur «Ajouter». Remplissez les champs demandés et cliquez sur «sauvegarder». 
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor3">Comment modifier un professeur ?</a>
            </h4>
        </div>
        <div id="collapseProfessor3" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section professeur. Repérez le professeur et cliquez sur «Éditer». Remplacez les informations à changer et cliquez sur «sauvegarder».
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor4">Comment supprimer un professeur ?</a>
            </h4>
        </div>
        <div id="collapseProfessor4" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section professeur. Repérez le professeur et cliquez sur «Supprimer». Confirmez la suppression.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProfessor5">Comment voir un professeur ?</a>
            </h4>
        </div>
        <div id="collapseProfessor5" class="panel-collapse collapse">
            <div class="panel-body">
                Repérez le professeur dans la liste et cliquez sur «Détails».
            </div>
        </div>
    </div>
    <div class="faqHeader">Gestion des étudiants</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent1">Comment lister tous les étudiants ?</a>
            </h4>
        </div>
        <div id="collapseStudent1" class="panel-collapse collapse">
            <div class="panel-body">
                Il suffit de cliquer sur le menu «Étudiant» pour avoir accès à la liste de tous les étudiants.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent2">Comment ajouter un étudiant ?</a>
            </h4>
        </div>
        <div id="collapseStudent2" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section étudiant et cliquez sur «Ajouter». Remplissez les champs demandés et cliquez sur «sauvegarder». 
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent3">Comment modifier un étudiant ?</a>
            </h4>
        </div>
        <div id="collapseStudent3" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section étudiant. Repérez le étudiant et cliquez sur «Éditer». Remplacez les informations à changer et cliquez sur «sauvegarder».
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent4">Comment supprimer un étudiant ?</a>
            </h4>
        </div>
        <div id="collapseStudent4" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section étudiant. Repérez le étudiant et cliquez sur «Supprimer». Confirmez la suppression.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseStudent5">Comment voir un étudiant ?</a>
            </h4>
        </div>
        <div id="collapseStudent5" class="panel-collapse collapse">
            <div class="panel-body">
                Repérez l’étudiant dans la liste et cliquez sur «Détails».
            </div>
        </div>
    </div>
    <div class="faqHeader">Gestion des cours</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse1">Comment lister tous les cours ?</a>
            </h4>
        </div>
        <div id="collapseCourse1" class="panel-collapse collapse">
            <div class="panel-body">
                Il suffit de cliquer sur le menu «Cours» pour avoir accès à la liste de tous les cours.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse2">Comment ajouter un cours ?</a>
            </h4>
        </div>
        <div id="collapseCourse2" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section cours et cliquez sur «Ajouter». Remplissez les champs demandés et cliquez sur «sauvegarder». 
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse3">Comment modifier un cours ?</a>
            </h4>
        </div>
        <div id="collapseCourse3" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section cours. Repérez le cours et cliquez sur «Éditer». Remplacez les informations à changer et cliquez sur «sauvegarder».
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse4">Comment supprimer un cours ?</a>
            </h4>
        </div>
        <div id="collapseCourse4" class="panel-collapse collapse">
            <div class="panel-body">
                Allez dans la section cours. Repérez le cours et cliquez sur «Supprimer». Confirmez la suppression.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCourse5">Comment voir un cours ?</a>
            </h4>
        </div>
        <div id="collapseCourse5" class="panel-collapse collapse">
            <div class="panel-body">
                Repérez le cours dans la liste et cliquez sur «Détails».
            </div>
        </div>
    </div>
</div>
<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>